streamlit
pandas
numpy
plotly
requests
beautifulsoup4
selenium
webdriver-manager
gpxpy
geopy
scikit-learn
lxml
openpyxl
folium
streamlit-folium
fake-useragent
# undetected-chromedriver  <-- A veces da problemas en cloud, lo usaremos condicionalmente
